<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title></title>
        <link rel="stylesheet" href="../css/style.css?after" type="text/css">
</head>
<body>
<header>
안녕 여긴 헤더부분이야
</header>
<div class="left_div">
안녕 여긴 메뉴부분이야
</div>
<div class="middle_div">
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2</td>
                <td>제목이다2</td>
                <td>김아무개</td>
                <td>2021.05.20</td>
            </tr>
            <tr>
                <td>1</td>
                <td>제목이다</td>
                <td>홍길동</td>
                <td>2021.05.20</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
