<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title></title>
    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
        #app {
            margin-top:20px;
        }
    </style>
</head>
<body>
<div id="app" class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-center">내용</th>

        </tr>
        </thead>
        <tbody>
        <tr v-for="history in histories">
            <td class="text-center">{{history.id}}</td>
            <td class="text-center">{{history.content}}</td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    const app = new Vue({
        el: '#app',
        data: {
            id: 1,
            histories: []
        },
        beforeMount() {
            axios.get(`/api/tron/history?id=${this.id}`)
                    .then((res) => {
                        console.log(res.data);
                        this.histories = res.data.body;
                    });
        },
        methods: {

        }
    })
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
